.widget-card {
    width: 310px;
    height: 160px;
}

.widget-footer {
    margin: 10px 10px;
}

.widget-content {
    margin-left: 8px;
    height: 60px;
}

.widget-content.temperature {
    font-size: 50px;
    vertical-align: middle;
}

.widget-content.image {
    height: 38px;
    width: 38px;
    font-size: 10px;
    text-align: center;
}

.widget-forecast {
    width: 20%;
    font-size: 10px;
    text-align: center;
    padding-bottom: 15px;
}

.widget-forecast ~ div > div {
    border-left-style: dashed;
    border-width: 1px;
}

weather-gadget {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 260px;
    width: 410px;
}

.center-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
